{% extends 'base.html' %}
{% block title %} Cuba Sports
{% endblock title %}
{% block body %}
<div class="container ">

    <div class="row my-3">
        {% for x in api.articles %}
        <div class="col-sm my-3 ">
            <div class="card bg-light" style="width: 18rem;">
                <img src="{{x.urlToImage}}" class="card-img-top" alt="{{x.source.name}}">
                <div class="card-body">
                    <h5 class="card-title ">{{x.title}}</h5>
                    <p class="card-text ">{{x.description | truncatechars:100}}</p>
                    <a href="{{x.url}}" target="_blank" class="btn btn-dark">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}